<?xml version="1.0"?>
<launch>
    <node pkg="movement_davidpacios" type="Camera.py" name="camera" output="log"/>
    <node pkg="movement_davidpacios" type="Menu.py" name="menu" output="screen"/>
    <node pkg="movement_davidpacios" type="GelSightMini.py" name="gelsight_mini_server" output="log"/>
    <node pkg="movement_davidpacios" type="ArucoDetector.py" name="aruco_detector" output="log"/>
    <node pkg="movement_davidpacios" type="PoseTransformer.py" name="pose_transformer" output="log"/>
</launch>
